<p>
    The annual UNM conflict of interest disclosure form(s) must be completed for all the key personnel. For conflict of interest disclosure procedure, refer to UNM Research Compliance website: <a href="http://researchcompliance.unm.edu/coi-policy" target="_blank">http://researchcompliance.unm.edu/coi-policy</a>. When potential conflicts of interest exist, distribution of funds will be contingent upon approval by the Research and Compliance Office.
</p>
<p>
    Please explain any potential conflicts of interest below.
</p>