<p>
    Attach an abbreviated CV that includes education, work history, and relevant grants and publications, or an NSF- or NIH-format Biographical Sketch for yourself and for any key collaborators identified in the proposal.
</p>