{# <p>
    <strong>Format of the Proposal Narrative.</strong> To facilitate the review process, applicants must use a 12 point font (Arial, Times New Roman), single-spaced, with 1-inch margins on all sides numbered consecutively. A list of references as needed and more detailed descriptions of data collection measures and procedures should be provided in an appendix and will not count as a part of the 4-page narrative. Applications exceeding the 4-page limit or violating the format guidelines will not be reviewed.  
</p>

<p>The proposal narrative should address the following areas:</p>

<p>
    <strong>(1). Significance and Innovation</strong><br>
    Provide background and literature review of the project, explaining the  ideas or problems examined by the study. State specifically the goals or purpose(s) of the project. Explain how the project will complement, challenge, or expand relevant studies in the field. Describe any novel concepts, approaches or methods employed in the project. Emphasize originality, innovation, or creativity. Describe how the work will advance knowledge/art. When relevant, discuss potential problem areas and applicable alternative strategies. 
</p>

<p> 	 
    <strong>(2). Methods, Work Plan and Potential for Completion</strong><br>
    Describe method(s) and clarify the part or stage of the project that will be supported by the RAC grant. Provide a work plan including a <strong>timeline</strong>, describing what you will accomplish during the award period and the appropriateness of the fieldwork to be undertaken in order to reach your objectives. Describe the archival or source materials to be studied, the research or creative work site, the data to be collected, and a data analysis plan if it is a research project. <strong>If IRB or IACUC approval is required, please indicate the status of the application and your plans for obtaining the IRB approval.</strong>
</p>

<p> 	 
    <strong>(3). Broader Impacts</strong><br>
    Describe expected outcomes of the project and the impact of the proposed work beyond its disciplinary interest (e.g., UNM, New Mexico community, national and global impacts, etc.). 
</p> #}
