<p>
    If animal subjects are involved, provide a brief  description of the proposed involvement of animal subjects, a signed Departmental Review Form, and an IACUC approval letter (if already obtained). If IACUC approval has not been obtained at time of RAC submission, it must be obtained prior to release of funds.
</p>