{# <p>Cover page should include the following:</p>

<ul>
    <li>Name of applicant, rank, department/division; campus address, phone number, email address; number of years as regular faculty at UNM; and number and date of any RAC award during the past five years. For the same time period, list all publications, grants, and other creative works that have resulted from RAC funding.</li>
    <li>Project title</li>
    <li>Total amount requested 
    <li>List of all current and pending support (funding agency and amount), indicating which, if any, are related to the current RAC proposal.</li>
    <li>Signature of Department/Division Chair</li>
    <li>Signature of Department Administrator or other person responsible for overseeing budgets</li>
</ul> #}

<p>For your convenience, you may <a href="{{submission.url("template-coverpage")|raw}}" target="_blank">download a template pre-filled with the information you have already provided</a></p>