<p>
    Revised applications will be accepted.
    However, there must be substantial changes in the content of the application.
    The revised application must include an Introduction to Resubmission or Revision that summarizes the substantial additions, deletions, and changes.
    The Introduction must also include responses to the criticisms and issues raised in the previous reviewers’ comments.
    The changes in the Proposal Narrative must be clearly marked by appropriate bracketing, indenting, or changing of typography (font), unless the changes are so extensive as to include most of the text.
    This exception must be explained in the Introduction.
    If the revision is so extensive that the revised proposal is largely unrelated to the original, the application may be reviewed as New, rather than as a revised application.
    Do not underline, italicize, or shade changes.
</p>