<p>
    If human subjects are involved, provide a description of the proposed involvement of human subjects, a signed Departmental Review Form and Institutional Review Board (if already obtained) Approval. If IRB approval has not been obtained at time of RAC submission, it must be obtained prior to release of funds.
</p>