<h1 style="margin:0;padding:0;">
  <a href="{{package.cms.config.url.base}}" style="display:block;margin:0;padding:0;">
    <img src="{{url.base}}rac_logo.png" alt="Research Allocations Committee" style="display:block;width:20rem;max-width:100%;margin:0 auto;">
  </a>
</h1>
